@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One');
@import url('https://fonts.googleapis.com/css?family=Rubik:900');



*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    user-select: none;
}

.bg {
    background-image: url(../images/mountains-.jpg);
    height: 75vh; 
    width: 100%;
    position: relative;
    top: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1{
    position: relative;
    top: 25vh;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: -75vh;
    font-size: 7vw;
    color: rgb(252, 252, 252);
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.5);  
}

h2{
    position: relative;
    top: 25vh;
    text-align: center;
    font-weight: 900;
    font-size: 3.5vh;
    color: rgba(255, 255, 255, 0.884);
    letter-spacing: 0.5vw;
    font-family: 'Gravitas One', cursive;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); 
}

h3{
    font-family: 'Rubik', sans-serif;
    font-size: 7vh;
    padding-bottom: 1vh;
}

.infoa{
    position: relative;
    top:80vh;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 10vh;
    font-size: 3vh;
    color: grey;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}

.footer{
    position: relative;
    top:80vh;
    font-size: 1em;
    left: 0;
    width: 100%;
    height: 10vh;
    background: rgb(4, 48, 119);
    color: rgb(190, 190, 190);
    text-align: center;
    line-height: 2.5vh;
    letter-spacing: 1px;
    user-select: text;
}

.footer p{
    padding: 2em;
}


.container nav.desk{
    font-size: 95%;
    width: 100%;
    font-weight: 900;
    height: 14vh;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
}

.container nav.mob{
    font-size: 2vh;
    width: 100%;
    height: 12vh;
    background: black;
    box-shadow: 0 2px 2px 0 black;
    position: fixed;
    top: 0;
    left: 0;
}

nav.desk ul{
    opacity: 1;
    list-style: none;
    width: 75%;
    margin: 0 auto;
}

nav.desk ul li{
    margin-top: 5vh;       
    width: 20%;
    text-align: center;
    float: left;
    line-height: 3vh;
    text-transform: uppercase;
    cursor:pointer; 
    transition: all 0.5s ease; /*muuttaa feidaus animaation nopeutta*/
    transition: transform .5s;
}

nav.desk ul li:hover{
    transform: scale(1.2);
    /*suurentaa 120% hoverilla*/
}

nav ul li.active{
    position: relative;
    bottom: 2.6vh;
    line-height: 8vh;
    background: rgba(180, 217, 228, 0.8);
    /*pitaa blokin aktiivisena(varillisina) missa mennaan*/
}

.mob ul li.active{
    background: rgba(180, 217, 228);
    bottom: 0;
    line-height: 3vh;
}

nav ul li a{
    color:white;
    text-decoration: none;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

nav.mob,
.hamburger-btn{
    display: none;
    /*Piilotetaan navigaationapit isommalla naytolla*/
}

.faceIcon{ 
        font-size: 6vh;
        position: fixed;
        top: -1%;
        margin-left: 73%;
        padding: 2vw;
        transition: all 0.5s ease; /*muuttaa feidaus animaation nopeutta*/
        transition: transform .8s;
}

.fa-facebook-square{
    color:white;
}

.fa-facebook-square:hover{   
    transform: scale(1.2);
}


@media screen and (max-width: 1600px){
    /*Estetaan tekstin meneminen liian lahekkain*/

    .container nav.desk{
        font-size: 75%;
    }    

    #y-tunnus{
        font-size:75%
    }

    .footer{
        font-size: 75%;
    }

    nav ul li.active{
        position: relative;
        bottom: 1.45vh;
        line-height: 5vh;
        background: rgba(180, 217, 228, 0.8);
    }        

@media screen and (max-width: 1028px){
    
    /* Pienen nayton nakyma*/
    
    nav.desk{
        display: none;
    }

    nav.mob,
    .hamburger-btn{
        display: block;
    }

    .hamburger-btn{
        position: relative; 
        /*relative mahdollistaa siirtelyn*/
    }

    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times{
        position: fixed;
        right: 3vh;
        top: 2vh;
        font-size: 30px;
        cursor: pointer;
        color:white;
    }

    .mob ul{
        box-shadow: 0 2px 2px 0 black;
        margin-top: 9vh;
        display: none; 
        /*piilotetaan lista aluksi, ennen fa-bars painallusta*/
    }

    .mob li{
        text-transform: uppercase;
        text-align: center;
        padding: 3.5vh;
        cursor: pointer;
        background: black;
    }

    .mob ul.active{        
        display: block;
    }
    
    h1{
    text-transform: uppercase;
    margin-top: -75vh;
    padding-bottom: 3.5vh;
    font-size: 6.5vh;

    }
    h2{
        font-size: 3.5vh;
    }

    .faceIcon{
        position: fixed;
        font-size: 30px;
        margin:auto;
        top: 2vh;
        bottom: 1vh;
        left: 3vh;
        padding: 0;
    }   

    #y-tunnus{
    font-size: 60%;
    left: 38%;
    }

    .infoa{
    margin-left:10%;
    margin-right:10%;
    }

    h3{
        font-size: 4.5vh;
    }
    
    .footer p{
        padding: 0;
        padding-top: 1em;
    }    
}

}