@import url('https://fonts.googleapis.com/css?family=Rubik:900');

body{
    background-image: url(../images/gras.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
    div.transbox {
      background-color: rgb(255, 255, 255, 0.8);
      box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 10vh;
      top:40vh;
    }
    .transbox1{
        background-color: rgb(255, 255, 255, 0.8);
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10vh;
        top:40vh;
    }
    .transbox2 {
        background-color: rgb(255, 255, 255, 0.8);
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10vh;
        top:40vh;
    }
    #kuvaus{
        letter-spacing: 2px;
        padding: 4vh;
        font-size: 2vh;
        color: grey;
    }
  
    .palvelut{
        
        text-align: center;
        list-style: none;
        
    }
    .palvelut .otsikko{
        font-family: 'Rubik', sans-serif;
        font-size: 3vh;
        padding-top: 2vh;
        color: rgb(148, 147, 147);        
    }
    .palvelut .palvelu{
        letter-spacing: 2px;
        padding: 2vh;
        font-size: 2vh;
        color: grey;
    }
    .palvelut .hinta{
        color: grey;
        padding-bottom: 2vh;
        font-size: 2vh;
    }

    h2{
      font-family: 'Rubik', sans-serif;
      position: relative;
      text-align: center;
      font-size: 8vh;
      text-transform: uppercase;
      color: white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  
    }
    .maksuohjeet{
        font-family: 'Rubik', sans-serif;
        padding-top: 2vh;
        text-transform: uppercase;
        font-size:3vh;
        color: rgb(148, 147, 147);  
    }

    .hinta1{
        letter-spacing: 2px;
        padding: 2vh;
        font-size: 2vh;
        color: grey;
    
    }
    .palvelu1{
        letter-spacing: 2px;
        padding: 1vh;
        font-size: 2vh;
        color: grey;
        padding-bottom: 2vh;
        padding-top:0;
    }

    @media screen and (max-width: 1028px){
        h2{
        font-size: 4.5vh;


        }
        div.transbox {
            
            margin-left: 7%;
            margin-right: 7%;

        }
        .transbox1, .transbox2 {
            
            margin-left: 7%;
            margin-right: 7%;

        }

    
    }
    
  